<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/validateme.js"></script>

<div class="page-signature">

	<div>修改密码</div>
</div>

<form id="changepassword" action="/user/password" method="post">

	<dl class="zend_form">
		<dt id="oldpassword-label">
			<label for="oldpassword" class="required">旧密码</label>
		</dt>
		<dd id="oldpassword-element">
			<input type="password" name="user[oldpassword]" id="oldpassword" value="" size="60" maxlength="20" class="required maxlength minlength">
		</dd>

		<dt id="newpassword-label">
			<label for="newpassword" class="required">新密码</label>
		</dt>
		<dd id="newpassword-element">
			<input type="password" name="user[newpassword]" id="newpassword" value="" size="60" maxlength="20" class="required maxlength minlength">
		</dd>
		
		<dt id="repeatpassword-label">
			<label for="repeatpassword" class="required">确认新密码</label>
		</dt>
		<dd id="repeatpassword-element">
			<input type="password" name="user[repeatpassword]" id="repeatpassword" value="" size="60" maxlength="20" class="required maxlength minlength equalTo">
		</dd>

		<dt id="submit-label">&#160;</dt>
		<dd id="submit-element">
			<input type="hidden" name="user[id]" value="<%= user._id %>"/>
			<input type="hidden" name="csrf" value="" />
			<input type="submit" name="submit" id="submit" value="修改密码">
		</dd>
	</dl>
</form>
