    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/validateme.js"></script>

    <%- partial('public/msg-nav') %>
    <div class="compose-form">
    <p>站内信将发往&nbsp;<a href="/user/<%= toId %><%= config.app_ext %>" title="查看<%= to %>的信息"><%= to %></a></p>
        <script type="text/javascript">
        $(document).ready(function(){
            $("textarea").ata();
        });
    </script>
    <form id="mail" enctype="application/x-www-form-urlencoded" action="/inbox/send" method="post">
        <dl class="zend_form">
            <dt id="inboxtitle-label">
                <label for="inboxtitle" class="required">标题</label>
            </dt>
            <dd id="inboxtitle-element">
                <input name="inboxtitle" id="inboxtitle"  class="required maxlength minlength"/>
            </dd>
            <dt id="inboxcontent-label">
                <label for="inboxcontent" class="required">内容</label>
            </dt>
            <dd id="inboxcontent-element">
                <textarea name="inboxcontent" id="inboxcontent" cols="60" rows="10" class="required maxlength minlength"></textarea>
            </dd>

            <dt id="submit-label">&#160;</dt>
            <dd id="submit-element">
                <input type="hidden" name="_method" value="put"/>
                <input type="hidden" name="to" value="<%= to %>"/>
                <input type="hidden" name="toId" value="<%= toId %>"/>
                <input type="hidden" name="csrf" value="<%= csrf %>" />
                <input type="submit" name="submit" id="submit" value="发送">
            </dd>
        </dl>
    </form>
    </div>


