	<div class="footer">
	
		<ul>
			<li><a href="/posts<%= config.app_ext %>" title="无忧node社区">无忧node社区</a></li>
			<li><a href="http://weibo.com/sile" title="微博">微博</a></li>
			<li><a href="/blog<%= config.app_ext %>" title="博客">博客</a></li>
		</ul>
	</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3085755-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>